<div>
	<div>
		{$form}
		<table>
			<tr>
				<th>{$LG_GAME_NAME}</th><th>{$LG_GAME_TOTAL_PLAYERS}</th><th>{$LG_GAME_OWNER}</th><th>{$LG_GAME_LIFETIME}</th>
			</tr>
			<!-- BEGIN LOOP games -->
			<tr>
				<td><a href="{$games.link}" title="{$LG_GAME_JOIN|escape_double}">{$games.name}</a></td><td>{$games.total_players}</td><td>{$games.owner}</td><td>{$games.lifetime}h</td>
			</tr>
			<!-- END LOOP -->
			<!-- BEGIN SWITCH no_games -->
			<tr>
				<td colspan="2" style="text-align: center; text-decoration: underline;">{$LG_NO_GAME}</td>
			</tr>
			<!-- END SWITCH -->
		</table>
	</div>
</div>
