<embed id="SVGmap" name="SVGmap" type="image/svg+xml" src="?action=map&game={$game}&mode={$mode|parse_double}" pluginspage="http://www.adobe.com/svg/viewer/install/" />

<div id="dialogbox" style="background-color: #CCC; width: 900px; height: 100px; overflow: hidden; margin: 0; padding: 0;">
	<div id="dialogbox_left" style="padding: 0; margin: 0; height: 100%; display: inline-block;">
		<input type="button" value="Valider" id="risk_confirm" onclick="risk.confirm();" />
	</div>
	<div id="dialogbox_right" style="padding: 0; margin: 0; height: 100%; display: inline-block;">
		<div id="chatbox"></div>
		{$FORM}
	</div>
</div>


<script type="text/ecmascript">
	var adjacent = new Array();
	<!-- BEGIN LOOP adjacents -->
	adjacent.push(new Array('{$adjacents.from|parse_simple}', '{$adjacents.to|parse_simple}'));
	<!-- END LOOP -->

	risk = null;
	window.onload = function() { risk = new Risk('SVGmap', '{$game}', '{$m_id}', adjacent) };
</script>
